# /home/ubuntu/stable-diffusion/celery.service => /etc/systemd/system/celery.service
[Unit]
Description=Celery daemon
After=redis.service

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/stable-diffusion
Environment="PYTHONPATH=/home/ubuntu/stable-diffusion/scripts"
ExecStart=/home/ubuntu/anaconda3/envs/ldm/bin/celery -A tasks.app worker --loglevel=INFO --concurrency=1
Restart=always

[Install]
WantedBy=multi-user.target